
.container{
  border: 3px solid #fff;
  padding: 20px;
  overflow:hidden;
  margin: 0 auto;
}

.container_div{
  padding: 20px;
  border: 2px solid red;
  height: 100vh;
  float: left;
  width: 50%;
  color: white;
  overflow: scroll;
}

.page_directory_div{
  width: 50%;
  display: flex;
}

.job_card{
  cursor: pointer;
}

#current_button{
  margin-left: auto;
  margin-right: auto;
}

#prev_button{
  margin-left: 0%;
}

#next_button{
  margin-right: 0%;
}

/* hide scrollbar of left div */
#left_div::-webkit-scrollbar{ /*for webkit browsers*/
  display:none;
  -ms-overflow-style: none; /*for microsoft web browsers*/
  scrollbar-width: none; /*for gecko based browswers*/
}